language: c

env:
    - LUA_VERSION=5.1.5
    - LUA_VERSION=5.2.4

install:
    - make env PLATFORM=linux LUA_VERSION=$LUA_VERSION

script:
    - make test LUA_VERSION=$LUA_VERSION
    - make qa LUA_VERSION=$LUA_VERSION

after_success:
    - eval "$(env/bin/luarocks path --bin)"
    - luarocks install luacov-coveralls
    - busted -c
    - luacov-coveralls -e env
